
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lista szkoleń</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/addons/datatables.min.css" rel="stylesheet">
        
        <!-- Material Design Bootstrap -->
        <link href="/assets/css/mdb.min.css" rel="stylesheet">
        <link href="/assets/css/selectize.bootstrap4.css" rel="stylesheet">
        <!-- <link href="/assets/css/select2-bootstrap4.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="/assets/css/select2.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@1.5.16/dist/vuetify.min.css" rel="stylesheet">
        
        <!-- Datepicker stylize-->
        <link href="/assets/js/pickadate/themes/classic.css" rel="stylesheet">
        <link href="/assets/js/pickadate/themes/classic.date.css" rel="stylesheet">

        <!-- Your custom styles (optional) -->
        <link href="/assets/css/style.css" rel="stylesheet">

        <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script src="../node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
        <!-- <script src="../node_modules/@ckeditor/ckeditor5-build-classic/build/translations/pl.js"></script> -->
        <script src="../node_modules/@ckeditor/ckeditor5-vue/dist/ckeditor.js"></script>
        <!-- Datepicker -->
        <script type="text/javascript" src="/assets/js/pickadate/picker.js"></script>
        <script type="text/javascript" src="/assets/js/pickadate/picker.date.js"></script>
        <script type="text/javascript" src="/assets/js/pickadate/translations/pl_PL.js"></script>


        <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuetify@1.5.16/dist/vuetify.min.js"></script>
        <script type="text/javascript" src="/assets/js/popper.min.js"></script>
        <script type="text/javascript" src="/assets/js/addons/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>i
        <script type="text/javascript" src="/assets/js/cert-number.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap-confirmation.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="/assets/js/mdb.min.js"></script>
        <script type="text/javascript" src="/assets/js/selectize.min.js"></script> 
       

        <!-- <script type="text/javascript" src="/assets/js/select2.full.min.js"></script> -->
    </head>
    <header>
            {{ template "header" . }}
    </header>
    <body>
        {{ if .Flash }}
        <div class="alert alert-success alert-dismissible fade show" id="flash" role="alert">
                {{ .Flash }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {{ end }}
        <div class="container">
                {{ yield }}
               
        </div>
        <script type="text/javascript" src="/assets/js/app.js"></script>
        <script>
$(function() {
    $('#flash').delay(500).fadeIn('normal', function() {
       $(this).delay(2500).fadeOut();
    });
 });
        </script>
     </body>
     
</html>
